<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.admin.mapper.ImagePublishedMapper">

  <select id="findByPostId" resultType="BlogImagePublished">
    SELECT * FROM blog_image_published
    WHERE post_id = #{postId} AND is_deleted = false
    ORDER BY display_order
  </select>

  <insert id="insertBatch">
    INSERT INTO blog_image_published (post_id, image_url, is_thumbnail, display_order, created_at)
    VALUES
    <foreach collection="images" item="img" separator=",">
      (#{img.postId}, #{img.imageUrl}, #{img.isThumbnail}, #{img.displayOrder}, CURRENT_TIMESTAMP)
    </foreach>
  </insert>

  <update id="softDeleteByPostId">
    UPDATE blog_image_published SET is_deleted = true WHERE post_id = #{postId}
  </update>
</mapper>
